/****** General ***********/

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

$background_1: pink;/*gris claire - rose juste pour l'instant pour mieux voir*/
$background_2: #EAEAEA; /*gris moyen*/
$background_3: #353535; /*gris foncé*/

.background-light {
    background-color: $background_1;
}
  
.background-medium {
    background-color: $background_2;
}

.background-dark {
    background-color: $background_3;
}



/****** header***********/ 
.logosize {
    width: 197px;
    height: 36px;
    padding-top: 14px;
    padding-bottom: 14px;
}

@mixin centerdisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.center {
    @include centerdisplay;
}

/****** nav***********/

.location {
    color: $background_3;
}

.mapsymbol {
    padding: 15px
}


.presentation {
    padding: 40px;
}
/*changer taille des textes*/

.btn {
    padding: 15px 20px;
	background-color: white;

	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
    border-color: #d9d9d9;
	box-sizing: border-box;

	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 17px;


    position: relative;
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
    }
}


/*FIGMA*/
// On click
// Scroll to: "Restaurants";
// Animate: Instant; animation-duration: 0ms;









/****** main ***********/

.howto {
    margin: 10px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.steps {
    display: flex;
    align-items: center;
    height: 72.38px;
    width: 95%;
    padding-left: 20px;
    border-radius: 20px;
    background-color: $background_2;

    /* faire border-style un peu ombré?*/

    .insideicons {
        padding: 15px;
        color: #353535;
    }
        &violet {
            color: #9747FF;
        }
}



/****** restaurants ***********/

.restaurant {
    padding-bottom: 20px;
    &presentation {
        padding-top: 50px;
        padding-left: 30px;
        padding-bottom: 20px;
    }
}



.card {
    background-color: white;
    border-radius: 25px;
    margin: 25px;
    object-fit: cover;
    &text {
        padding-left: 20px;
        padding-bottom: 10px;
    }         
}

.card img {
        width: 100%;
        height: 270px;
        object-fit: cover;
        border-radius: 25px 25px 0 0;
        /*revisiter les tailles des photos*/
}



footer {
    padding: 25px;
    color: white;
    .logo {
        color: white; /*ne marche pas*/
        Width: 137.58px;
        Height: 27px;
    }
}

