/****** General ***********/

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
}


$background_1: pink; /*gris claire - rose juste pour l'instant pour mieux voir*/
$background_2: #EAEAEA; /*gris moyen*/
$background_3: #353535; /*gris foncé*/

.background-light {
    background-color: $background_1;
}
  
.background-medium {
    background-color: $background_2;
}

.background-dark {
    background-color: $background_3;
}



/****** header***********/ 
.logosize {
    width: 197px;
    height: 36px;
    padding-top: 14px;
    padding-bottom: 14px;
}

@mixin centerdisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.center {
    @include centerdisplay;
}

/****** nav***********/

.location {
    color: $background_3;
}

.mapsymbol {
    padding: 15px
}


.presentation {
    padding: 40px;
}


.btn {
    padding: 15px 20px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
	
	border-width: 2px;
	border-radius: 25px;
	box-sizing: border-box;
    
    color: white;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 17px;

    position: relative;
    transition: 400ms;
    &:hover {
        opacity: 0.7;
    }

}







/****** main - fonctionnement***********/

.howto {
    margin: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.steps {
    display: flex;
    align-items: center;
    height: 72.38px;
    width: 95%;
    padding-left: 20px;
    border-radius: 20px;
    background-color: $background_2;
    /* faire border-style un peu ombré?*/

    .insideicons {
        padding: 15px;
        color: #353535;
        &violet {
            color: #9747FF;
        }
    }
}


.number {
    @include centerdisplay;
    margin-left: 20px;
    
    &circle {
        color: white;
        background-color: #9747FF;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        padding: 3px;
        text-align: center;
        align-items: center;
        align-content: center;

        position: absolute;
        left: 25px;
    }
}






/****** main - restaurants ***********/

.restaurant {
    padding-bottom: 20px;
    &title {
        padding-top: 50px;
        padding-left: 30px;
    }
}



.card {
    background-color: white;
    border-radius: 25px;
    margin: 25px;
    object-fit: cover;
    &text {
        padding-left: 20px;
        padding-bottom: 10px;
    }         
}

.card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 25px 25px 0 0;
        
}

.new {
    color: #008766;
    background-color: #99E2D0;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    position: absolute;
    right: 50px;
}



.like {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    &heart {
        width: 22px;
        height: 21px;
        border: 1px;
        &animation:active {
            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

        }
    }
}






footer {
    padding: 25px;
    color: white;
    .logo {
        width: 137.58px;
        height: 27px;
        filter: invert(100%); 
    }
}
