
p {
    font-family: Shrikhand, sans-serif;
    font-size: 35px;
    font-style: italic;
    font-weight: 400;
    
    display: flex; 
    justify-content: center;

}



.loader {
    border: 10px solid #EAEAEA;
    
    border-radius: 50%;
    width: 150px;
    height: 150px;

    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    animation-name: charging;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    
}


@keyframes charging {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
        border: 10px solid #FF79DA;
    }
    50% {
        transform: rotate(180deg);
        border: 10px solid #EAEAEA;
    }
    75% {
        transform: rotate(270deg);
        border: 10px solid #9356DC;
    }
    100% {
        transform: rotate(360deg);
    }
}









@media (min-width: 768px) {


    p {
        font-size: 75px;
        padding-top: 40px;
    }


    .loader {
        width: 350px;
        height: 350px;
    }


}